#headerTitle {
    color: white;
}

#navItems {
    color: white;
}

@media screen and (max-width: 800px) {
    #headerTitle{
        font-size:0.75rem;
    }
    #navItems {
        font-size:0.75rem;
    }
}